# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages used in datascience
* Write arithmetic expresions in Python
* List commonly used libraries

##### Some of the popular languages that Data Scientists use are:
    1. Julia
    2. Python
    3. R

##### Some of the commonly used libraries used by Data Scientist include:
    1. pandas
    2. numpy
    3. seaborn

<table>
<thead>
<tr>
<th>Data Science Tools</th>
</tr>
</thead>
<tbody>
<tr>
<td>Jupyther Notebook</td>
</tr>
<tbody>
<tr>
<td>RStudio</td>
</tr>
</tbody>
<tr>
<td>GitHub</td>
</tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
a = 200/60
print(a)

3.3333333333333335

## Author
Jorge